html {
  position : absolute;
  width    : 100%;
  height   : 100%;
}

.grid {
  border-collapse : collapse;
  height          : 200px;
  width           : 200px;
}

.grid td {
  width      : 20px;
  height     : 20px;
  border     : 1px solid #fff;
  transition : background 0.3s;
  /*text-indent : -8000px;*/
}

.with-mine {
  background : red;
}

.without-mine {
  background : #5d5d5d;
}

.marked {
  background : orange;
}

.revealed {
  text-indent : 0;
  background  : skyblue;
}

.config {
  position   : absolute;
  width      : 50%;
  height     : 50%;
  top        : 50%;
  left       : 50%;
  margin     : -25% 0 0 -25%;
  background : gray;
  z-index    : 3;
}

.config p {
  margin-top     : 50px;
  color          : white;
  text-transform : uppercase;
  text-align     : center;
}

.config_button {
  width   : 100px;
  height  : 40px;
  display : block;
  margin  : 40px auto;
}
